<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RoleMapper">
  <select id="selectByName" resultType="com.example.demo.pojo.domain.Role">
    SELECT * FROM role WHERE name=#{name};
  </select>

  <insert id="insert" parameterType="com.example.demo.pojo.domain.Role">
    INSERT INTO role(name, create_time, update_time) VALUE (#{name}, #{createTime}, #{updateTime});
  </insert>
</mapper>